/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 nov. 2020, 09:25:16
    Author     : javy
*/

body{
background:#626465;
text-align: center;
}
h1{
font-family:monospace, Courier;
font-size:32px;
color:#FFFFFF;
}
p{
font-family:monospace, Courier;
font-size:18px;
color:#FFFFFF;
}
label{
font-family:monospace, Courier;
font-size:18px;
color:#FFFFFF;
}
a:link{
    text-align: center;
    color: #0492da;
}
a:visited {
    font-family:monospace, Courier;
    text-align: center;
    color: #FFFFFF;
}
a:active {
    font-family:monospace, Courier;
    text-align: center;
    color: #000000;
}
a:hover {
    font-family:monospace, Courier;
    text-align: center;
    color: #00FFFF;
}

table {
    font-family:monospace, Courier;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 4px solid purple;
  border-color: #FFFFFF;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 25%;
}

thead th:nth-child(5) {
  width: 20%;
}
#cod1{
    width: 10%;
}
#cod2{
    width: 15%;
}
#cod3{
    width: 15%;
}
#cod4{
    width: 15%;
}
#cod5{
    width: 25%;
}
#cod6{
    width: 20%;
}

th, td {
    font-family:monospace, Courier;
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
}